{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}


{% block content %}
    <main class="form-signin">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">{% trans "Change Password" %}</h1>
            {% for form_item in form %}
                <div class="form-floating">
                    {{ form_item }}
                    <label for="floatingInput">{{ form_item.label }}</label>
                </div>
            {% endfor %}
            <button class="w-100 btn btn-lg btn-primary" type="submit">{% trans "Change Password" %}</button>
            <p class="mt-3 mb-3 text-muted"><a href="{% url 'account_reset_password' %}" class="">Забыли пароль?</a></p>
        </form>
    </main>
{% endblock %}

