{% extends 'teachers/base.html' %}
{% block title %}Добавить урок{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-4">
                    <div class="page-header-title"
                         style="background-color: white; padding: 5px 0 25px 5px; border-radius: 5px">
                        <i class="ik ik-clipboard bg-blue"></i>
                        <div class="d-inline">
                            <h5>Добавить урок</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body  table-border-style">
                        <form action="{% url 'lesson_create' studentgroup.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="subject" value="{{ subject.id }}">
                            <input type="hidden" name="studentgroup" value="{{ studentgroup.id }}">
                            <div class="form-group">
                                <label class="form-label">Название урока</label>
                                <input type="text" name="name" maxlength="255" placeholder="Название урока"
                                       class="form-control" required>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label">Описание урока</label>
                                <textarea name="description" cols="30" rows="5" class="form-control"
                                          placeholder="Описание урока" required></textarea>
                            </div>
                            <br>
                            <div class="form-group">
                                <label class="form-label">Дата урока</label>
                                <input type="date" name="date" class="form-control" required>
                            </div>
                            <hr>
                            <input type="submit" class="btn btn-primary">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}