{% extends 'teachers/base.html' %}
{% load static %}

{% block title %}Профиль Учителя  - {{ teacher.get_full_name }} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <div class="row align-items-end">
                <div class="col-lg-2">
                    <div class="page-header-title"
                         style="background-color: white; padding: 5px 0 25px 5px; border-radius: 5px">
                        <i class="ik ik-user bg-blue"></i>
                        <div class="d-inline">
                            <h5>Профиль </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">


                <div class="card">
                    <div class="card-body p-0 table-border-style">
                        <div class="table-responsive" style="font-size: 18px">
                                                <div class="table-responsive" style="font-size: 18px">
                        <table class="table table-hover">
                            <tbody>
                                <th scope="row">Логин</th>
                                <td>{{ request.user.username }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Имя</th>
                                <td>{{ request.user.first_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Фамилия</th>
                                <td>{{ request.user.last_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Телефон</th>
                                <td>{{ request.user.phone }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Почта</th>
                                <td><a href="mailto:{{ request.user.email }}"
                                       style="color: #8a04b1">{{ request.user.email }}</a></td>
                            </tr>
                            <tr>
                                <th scope="row">Дата рождедия</th>
                                <td>{{ request.user.dob }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Предмет</th>
                                <td>{{ request.user.teacher.subject }}</td>
                            </tr>
                            </tbody>
                        </table>

                        </div>
                    </div>
{#                    <div class="card-footer">#}
{#                        <a href="{% url 'account_change_password' %}" class="btn btn-success">Изменить пароль</a>#}
{#                    </div>#}
                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}
