{% extends 'teachers/base.html' %}
{% block title %}{{ studentgroup.name }} {% endblock %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap pt-3 ">
        <h1 class="h2">{{ studentgroup.name }}</h1>

        <div class="">
            <div class="btn-group me-2">
                <a href="{% url 'lesson_create' studentgroup.id %}" class="btn btn-primary">Добавить урок</a>
            </div>
            <div class="btn-group me-2">
                <a href="{% url 'teacher_monthlygrade' group_id=studentgroup.id subject_id=subject.id %}" class="btn btn-primary">Поставить оценку за месяц</a>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>Предмет: "{{ subject.name }}"</h3>
        <div class="col-md-12">

            <div class="list-group">
                {% for lesson in lessons %}
                    <div class="card">
                        <div class="card-header">
                            <h3>{{ lesson.name }}</h3>
                            <p>{{ lesson.date }}</p>
                        </div>
                        <div class="card-body">
                            <p>{{ lesson.description }}</p>
                            <hr>
                            <h4>Дом задание: "{{ lesson.homework.name }}"</h4>
                            <p>{{ lesson.homework.description }}</p>
                        </div>
                    <div class="card-header">
                        <a href="{% url 'teacher_studentgroupgrade' lesson.id %}" class="btn btn-primary">Поставить оценку</a>
                    </div>
                    </div>

                    <br>
                {% endfor %}


            </div>

        </div>
    </div>


{% endblock %}