{% extends 'mainapp/base.html' %}
{% block title %}Группа {{ studentgroup.name }} {% endblock %}

{% block content %}
    <h1>Группа "{{ studentgroup.name }}"</h1>
    <h1>Предмет "{{ subject.name }}"</h1>
    <a href="{% url 'lesson_create' group_id=studentgroup.id %} " class="btn btn-primary">Добавить урок</a>
    <hr>
    <div class="list-group">
        {% for lesson in lessons %}
            <div class="card">
                <div class="card-header">
                    <h3>Тема урока: {{ lesson.name }} </h3>

                </div>
                <div class="card-body">
                    <h4>Дата: {{ lesson.date }}</h4>
                    <h3>Описание</h3>
                    <p>{{ lesson.description }}</p>
                    <div>
                    </div>
                    <a href="{% url 'lesson_detail' lesson.id %}" class="btn btn-primary">Посмотреть</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}