{% extends 'students/base.html' %}
{% load i18n %}
{% block title %}{% trans 'Дом задание' %} {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-blue text-center">{% blocktrans with studentgroup_name=studentgroup.name %}Дом задание {{ studentgroup_name }}{% endblocktrans %}</h1>
        <br>
        <div class="list-group" style="margin-right: auto; margin-left: auto">
        {% for homework in object_list %}
            <div class="card bg-white" style="padding: 25px">
                <div class="card-body">
                    <h1 class="text-blue">{{ homework.subject.name }} </h1>
                    <p class="text-blue">{% trans 'Дата' %} {{ homework.date|date:"d.m.Y" }}</p>
                    <p>{{ homework.content|safe }}</p>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    </div>

{% endblock %}