{% extends 'students/base.html' %}
{% load static %}

{% block title %}Профиль {{ student.get_full_name }} {% endblock %}

{% block content %}
    <style>
    body {
        background: linear-gradient(rgba(255,255,255,.42), rgba(255,255,255,.42)),url("/static/img/background.png");
        background-repeat: repeat;

    }
    </style>
         <div class="card bg-white" style="padding: 25px;">
            <div class="row">
                <div class="col-md-2">
                    <div class="student-img">
                        <img src="{{ request.user.avatar.url }}" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-10 col-sm-12">
                    <h1 class="student-name">{{ student.get_full_name }}</h1>
                    <br>
                    <h3 class="student-info">{{ student.dob }}</h3>
                    <h3 class="student-info">{{ student.student.student_group.name }}</h3>
                </div>
            </div>
        </div>
        <br>
        <div class="card bg-white" style="padding: 25px;">
            <div class="profile-grade-list">
                {% for name, grade in student_grades_dict.items %}
                    <div class="profile-grade-item">
                    <div class="profile-grade-circle">
                        <div class="profile-grade-star">
                            <img src="{% static 'img/star.png' %}" class="img-fluid">
                        </div>
                        <div class="profile-grade-grade">
                            <h1 class="profile-grade-grade-text">{{ grade }}</h1>
                        </div>
                    </div>
                    <br>
                    <div class="profile-grade-subject">
                        <h5>{{ name}}</h5>
                    </div>
                </div>
                {% endfor %}



            </div>
        </div>
        <br>
        <div class="card bg-white" style="padding: 25px;">
            <div class="row">
                <div class="col-md-5">
                    <div class="monthly-grades-student-img">
                        <img src="{% static 'img/student.png' %}" width="200px" >
                    </div>
                </div>
                <div class="col-md-7">
                    <h5 class="text-orange student-status">статус:</h5>
                    <h6 class="text-blue student-status-value">Супер</h6>
                    <h5 class="text-orange student-grade">Общий балл</h5>
                    <h1 class="text-blue student-grade-value">{{ total }} б</h1>
                </div>
            </div>
            <div style="margin-left: auto; margin-right: auto; text-align: center">
                <div style="">
                    <a class="btn btn-orange" href="">Посмореть контрольную оценку</a>
                </div>
            </div>
        </div>
        <br>

{% endblock %}