{% extends 'students/base.html' %}
{% block title %}Расписание для группы "{{ student_group }}" {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-blue text-center">Расписание для группы "{{ student_group }}"</h1>
        <div class="card w-75" style="margin-left: auto; margin-right: auto">
            <div class="card-header">
                <h2 class="text-blue">Понодельник</h2>
            </div>
            <div class="card-body bg-white">
                {% for event in monday %}
                    <h3 class="text-orange">{{ event.time_lesson }} |
                        {% if event.subject %}{{ event.subject }}{% else %}---{% endif %}</h3>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="card w-75" style="margin-left: auto; margin-right: auto">
            <div class="card-header">
                <h2 class="text-blue">Вторник</h2>
            </div>
            <div class="card-body bg-white">
                {% for event in tuesday %}
                    <h3 class="text-orange">{{ event.time_lesson }} |
                        {% if event.subject %}{{ event.subject }}{% else %}---{% endif %}</h3>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="card w-75" style="margin-left: auto; margin-right: auto">
            <div class="card-header">
                <h2 class="text-blue">Среда</h2>
            </div>
            <div class="card-body bg-white">
                {% for event in wednesday %}
                    <h3 class="text-orange">{{ event.time_lesson }} |
                        {% if event.subject %}{{ event.subject }}{% else %}---{% endif %}</h3>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="card w-75" style="margin-left: auto; margin-right: auto">
            <div class="card-header">
                <h2 class="text-blue">Четверг</h2>
            </div>
            <div class="card-body bg-white">
                {% for event in thursday %}
                    <h3 class="text-orange">{{ event.time_lesson }} |
                        {% if event.subject %}{{ event.subject }}{% else %}---{% endif %}</h3>
                {% endfor %}
            </div>
        </div>
        <br>
        <div class="card w-75" style="margin-left: auto; margin-right: auto">
            <div class="card-header">
                <h2 class="text-blue">Пятница</h2>
            </div>
            <div class="card-body bg-white">
                {% for event in friday %}
                    <h3 class="text-orange">{{ event.time_lesson }} |
                        {% if event.subject %}{{ event.subject }}{% else %}---{% endif %}</h3>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}