{% extends 'students/base.html' %}
{% block title %}Список предметов {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-blue text-center">Предметы</h1>
        <br>
        <div class="list-group" style="margin-right: auto; margin-left: auto">
        {% for subject in object_list %}
            <div class="card bg-white" style="padding: 25px">
                <div class="card-body">
                    <h1 class="text-blue">{{ subject.name }} </h1>
                    <h3 class="text-blue">{{ subject.teacher }}</h3>
                    <br>
                    <a href="{% url 'student_subject_detail' subject.id %} " class="btn btn-orange">Посмотреть</a>
                    <a href="{% url 'student_subject_detail' subject.id %} " class="btn btn-orange">Контрольная оценка</a>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
    </div>

{% endblock %}