{% extends 'mainapp/base.html' %}
{% load students_tags %}

{% block title %}Профиль {{ student.get_full_name }} {% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ subject.name }}</h1>
        <div class="list-group">
        {% for lesson in subject.lessons.all %}
            <div class="card">
                <div class="card-header">
                    <h3>Тема урока: {{ lesson.name }} </h3>
                    <p>{{ lesson.date }}</p>
                </div>
                <div class="card-body">
                    <p>{{ lesson.description }}</p>
                    <hr>
                    <h3>Дом задание: {{ lesson.homework.name }}</h3>
                    <p>{{ lesson.homework.description }}</p>
                    {% if not request.user.student|is_send_homework:lesson.homework %}
                        <a href="{% url 'student_homework' lesson.homework.id %}" class="btn btn-primary">Отправить дз</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}