{% extends 'students/base.html' %}
{% block title %}Список предметов {% endblock %}

{% block content %}
    <div class="container">
        <h1>Предметы</h1>
        <div class="list-group">
        {% for subject in object_list %}
            <div class="card">
                <div class="card-header">
                    <h3>Название предмета: {{ subject.name }} </h3>
                    <h3>Препод: {{ subject.teacher }}</h3>
                    <a href="{% url 'student_subject_detail' subject.id %} " class="btn btn-primary">Посмотреть</a>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}