{% extends 'mainapp/base.html' %}
{% block title %}Профиль {{ student.get_full_name }} {% endblock %}

{% block content %}
    <a href="{% url 'student_schedule' %}">Расписание</a>
    <a href="{% url 'student_homework' %}">Дом задание</a>
    <a href="{% url 'student_grades' %}">Оценки</a>
    <div class="container">
        <h1>Предметы</h1>
        <div class="list-group">
        {% for subject in object_list %}
            <div class="card">
                <div class="card-header">
                    <h3>Название предмета: {{ subject.name }} </h3>
                    <h3>Препод: {{ subject.teacher }}</h3>
                    <a href="" class="btn btn-primary">Посмотреть</a>
                </div>
            </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}