@font-face {
    font-family: cooper;
    src: url(/static/fonts/Asylbekm21cooper.Kz.ttf);
}


body {
    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url("/static/img/background.png");
    background-repeat: repeat;
    font-family: cooper;
     background-color: #ECEFF8;
}

.header-orange-box {
    background-color: #FF9412;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    padding: 18px 32px 18px 32px;
}


.btn-orange {
    background-color: #FF9412;
    border-color: #FF9412;
    padding-left: 50px;
    padding-right: 50px;
    color: #fff;
}

.btn-header {
    padding-left: 30px;
    padding-right: 30px;
}

.btn-orange:hover {
    background-color: #FF9412;
    color: #fff;
}

.student-img {
    overflow: hidden;
    border-radius: 50%;
}

.student-name {
    color: #317EEF;
}

.student-info {
    color: #FF6A00;
}

.profile-grade-list {
    width: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    overflow-x: scroll;
}

.profile-grade-item {
    margin: 10px;
    width: 271px;
    text-align: center;
}

.profile-grade-circle {
    width: 271px;
    height: 271px;
    border-radius: 50%;
    border: 15px solid #F6931B;
    padding: 10px;
}

.profile-grade-star {
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 120px;
    overflow: hidden;
}

.profile-grade-grade-text {
    font-size: 75px;
    color: #FF6A00;
}

.profile-grade-subject {
    color: #317EEF;
}

.text-orange {
    color: #FF6A00;
}

.text-blue {
    color: #317EEF;
}

.student-status {
    font-size: 47px;
}
.student-status-value {
    font-size: 57px;
}
.student-grade {
    font-size: 47px;
}
.student-grade-value {
    font-size: 90px;
}

.monthly-grades-student-img {
    padding: 35px;
    padding-left: 75px;
}